// Colours
$white: white;
$lightest-grey: #fafafa;
$lighter-grey: #efefef;
$light-grey: #dedede;
$lightish-grey: #a0a0a0;
$medium-grey: #808080;
$dark-grey: #606060;
$darker-grey: #404040;

$blue: #53c2e0;
$light-blue: #e1f2f7;
$red: #eb4d82;
$green: #6fde7c;

// Mixins
@mixin box-sizing () {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Default Styling
html, body {
  font-family: 'Noto Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.row {
  display: flex;
  border-top: 1px solid $lighter-grey;

  &.selected {
    background: $light-blue;
    border-top: 1px solid darken($light-blue, 5%);

    .cell:not(:last-child) {
      border-right: 1px solid darken($light-blue, 5%);
    }
  }

  &.selected + .row {
    border-top: 1px solid darken($light-blue, 5%);
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid $lighter-grey;

    &.selected {
      border-bottom: 1px solid darken($light-blue, 5%);
    }
  }
}

.cell {
  flex-grow: 1;
  width: 100%;
  color: $medium-grey;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid $lighter-grey;

  &.large {
    width: 300px;
    flex-shrink: 0.1;
    text-align: left;
  }

  &.small {
    width: 120px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &.tiny {
    width: 30px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &:last-child {
    border-right: none;
  }
}
